<style type="text/css">
._mukeisoft_gist {
    font-family: -apple-system, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", メイリオ, meiryo, sans-serif;
    padding: 5px;
}
._mukeisoft_gist .prettyprint {    
    font-family: -apple-system, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", メイリオ, meiryo, sans-serif;
    margin: 0px;
    word-wrap: normal;
    overflow: auto;
    line-height: 10px;
    font-size: 14px;
}

._mukeisoft_gist .prettyprint li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 {
    list-style-type : decimal;
}
._mukeisoft_gist ._mukeisoft_gist_footer {
    border : 1px solid; 
    border-top : 0px; 
    background-color : #eaeaea;
    padding-top: 5px; 
    padding-bottom: 5px;
    padding-left:  10px;
    padding-right: 10px;
    overflow-x: hidden;
}

._mukeisoft_gist ._mukeisoft_gist_footer a {
    color: #369;
    font-size: 90%;
    text-decoration: none;
}

._mukeisoft_gist ._mukeisoft_gist_footer  ._mukeisoft_gist_footer_brought {
    font-size: 75%;
    color: #1dc6df;
    float: right
}
</style>